body {
    font-family: Arial, "Roboto", sans-serif;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    body {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    body {        
        font-size: 1rem;
    }
}

@media (max-width: 684px) {
    body {        
        font-size: 0.8rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 0.7rem;
    }
}
